.body{
  padding: 0;
  margin: 0;
}
.course-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-title {
  font-size: 2.5rem;
  color: #34495e;
  margin-bottom: 1rem;
  border-bottom: 2px solid #1abc9c;
  padding-bottom: 0.5rem;
}

.course-description {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.course-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 6px;
}

.course-instructor {
  font-size: 1.1rem;
  color: #34495e;
}

.module-content-title {
  font-size: 1.8rem;
  color: #34495e;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0.5rem;
}

.course-content-list {
  list-style-type: none;
  padding-left: 0;
}

.module-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.module-item:hover {
  transform: translateY(-3px);
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.module-title {
  font-size: 1.2rem;
  color: #2c3e50;
  font-weight: bold;
}

.module-content {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.error-message {
  color: #e74c3c;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.input, .textarea {
  padding: 10px;
  font-size: 1rem;
  color: #34495e;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
} 

.input:focus, .textarea:focus {
  border-color: #1abc9c;
  outline: none;
}

.submit-button, .edit-button ,.delete-button,.add-button, .remove-button{
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1abc9c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px 10px ;

}

.submit-button:hover, .edit-button:hover,.delete-button:hover {
  background-color: #16a085;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .course-container {
    margin-top: 80px;
    padding: 15px;
  }

  .course-title {
    font-size: 2rem;
  }

  .course-info {
    flex-direction: column;
    gap: 0.5rem;
  }

  .module-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}